<section>
  <h1>About Me</h1>
  <p>
    <img class="left" src="http://www.gravatar.com/avatar/5c42621691011e9f8fcabf1b4e23d4ad?s=80" title="Manuel van Rijn" />
    <small>
      Manuel van Rijn<br />
      26 years old<br />
      Front- Backend Developer
      Work: <a href="http://www.auxilium.nl/">www.auxilium.nl</a><br /><br />
      <a href="https://github.com/manuelvanrijn/"><img src="/images/icons/github.png" title="GitHub" alt="GitHub" class="icon" /></a>
      <a href="http://nl.linkedin.com/in/manuelvanrijn"><img src="/images/icons/linkedin.png" title="LinkedIn" alt="LinkedIn" class="icon" /></a>
      <a href="http://facebook.com/manuelvanrijn/"><img src="/images/icons/facebook.png" alt="Facebook" title="Facebook" class="icon" /></a>
      <a href="http://twitter.com/manuelvanrijn/"><img src="/images/icons/twitter.png" alt="Twitter" title="Twitter" class="icon" /></a>
    </small>
  </p>
</section>
