<section>
  <h1>About Me</h1>
  <p>
    <img class="left" src="http://www.gravatar.com/avatar/5c42621691011e9f8fcabf1b4e23d4ad?s=80" title="Manuel van Rijn" />
    <small>
      Manuel van Rijn<br />
      Front- Backend Webdeveloper
      Work: <a href="http://www.auxilium.nl/">www.auxilium.nl</a><br /><br />
      <a rel="author" href="https://github.com/manuelvanrijn" class="zocial icon github">Manuel van Rijn on Github</a>
      <a rel="author" href="http://nl.linkedin.com/in/manuelvanrijn" class="zocial icon linkedin">Manuel van Rijn on LinkedIn</a>
      <a rel="author" href="http://facebook.com/manuelvanrijn" class="zocial icon facebook">Manuel van Rijn on Facebook</a>
      <a rel="author" href="http://twitter.com/manuelvanrijn" class="zocial icon twitter">Manuel van Rijn on Twitter</a>
      <a rel="me" href="https://plus.google.com/u/0/117895812778172164201?rel=author" title="Manuel van Rijn" class="zocial icon googleplus">Manuel van Rijn on Google+</a>
    </small>
  </p>
</section>
