// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
aside.sidebar {
  img {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #fff .3em solid);
  }
  img.icon {
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;

    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
