// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
aside.sidebar {
  img {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #fff .3em solid);
  }
  a.zocial, a.zocial:hover {
    color: #fff;
  }
  a.github, a.github:hover {
    color: #000;
  }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
